<!--
#Victor Casado
#The Flying Mice
#SoftDev
#K14 -- Understanding code
#2024-10-8
#time spent: .9 hours
-->
<!DOCTYPE html>
<!--
  Clyde 'Thluffy' Sinclair
  SoftDev
  Sep 2024

     simple demo of HTML forms via Flask

     trioTASK:
     If any member of team has forms experience, let their know-how OSMOTE.
     If no one does, seek external assistance.

     PROTIP: Revisit code from foundations if you have it.
     Peruse this code together and discuss how it should work,
       in conjunction with the back end apparatus.
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h3>
      Hello Friend!
    </h3>
    <h5>
    The Flying Mice
    </br>
    Victor Casado, Jason Chao, and Evan Chen
    </h5>
    <p>
        Your username is: {{username}}
    </br>
    </br>
        We got this using the GET request

  </br></br>
    The GET request method appends information in the URL of the website. This allows users to see inputted info in browsing history, and to bookmark specific inputs.
</br> It also has a maximum input size, and can possibly cause issues with special characters in the url.
</br>
</br> The POST request method appends the information to the HTTP request, which is what the browser sends when it attempts to load a website. </br> 
This prevents data from being saved when the page is reloaded. This also prevents users from seeing the data in the URL.
    </p>

    <br>
  </body>

</html>
